.datepart-day > div > div {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    min-width:65px;
    text-align: center;
}

.datepart-month > div > div {
    border-radius: 0 !important;
     min-width:100px;
     text-align: center;
}

.datepart-year > div > div {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    min-width: 80px;
     text-align: center;
}